html,
body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

#page-container {
    height: auto;
    width: auto;
    background-color: #fafafa;
}

#master-head-container {
    height: 56px;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    padding: 7px 16px;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.nav-show-hide {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: none;
}

.icon-guide {
    font-size: 20px;
    color: #606060;
}

a.logo-container {
    height: 40px;
    padding: 7px 15px;
    box-sizing: border-box;
}

a.logo-container img {
    height: 100%;
}

#side-nav-container {
    width: 240px;
    background-color: #f5f5f5;
    position: fixed;
    top: 56px;
    left: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#main-section-container {
    padding-top: 56px;

}

#main-section-container.paddingleft {

    padding-left: 240px;

}

#main-content-container {

    padding: 10px 30px;
    display:flex;
    /*justify-content: center;*/
}

.form-warpper {
    display: flex;
    justify-content: center;
}

.column {

    /* border: 1px solid #ccc; */
    width: 50%;
    min-height: 300px;
     padding:20px;
     box-shadow: rgb(0, 0, 0, 0.1) 0px 1px 2px;

 }

 #search-container {
     flex: 1;
     margin: 0px 40px;
     display: flex;
     justify-content: center;
 }

 #search-container form {
     flex: 1;
     display: flex;
     justify-content: center;
     height: 32px;
 }

 #search-container input {
     flex: 1;
     max-width: 600px;
     padding: 2px 6px;
     color: #111111;
     font-size: 14px;
     font-weight: 500;
     border: 1px solid #cccccc;
     border-top-left-radius: 2px;
     border-bottom-left-radius: 2px;
     border-right: none;
     /* inset Changes the shadow from an outer shadow (outset) to an inner shadow */
    box-shadow: #eeeeee 0px 1px 2px 0px inset;
}

#search-container form button {
    width: 65px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.icon-search {
    font-size: 12px;
}

.right-icons a {
    text-decoration: none;
    color: #606060;
    padding-left: 15px;
}

.right-icons a .iconfont {

    font-size: 20px;

}

/* sign up page*/
/*To center our box we use the align-items property to align our item on the cross axis, which in this case is the block axis running vertically. We use justify-content to align the item on the main axis, which in this case the inline axis running horizontally.*/
.sign-up-container{
    background-color: #efefee;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

.sign-up-container .column{
    width:450px;
    background-color: #f#fffff;
    max-height: 100%;
    overflow-y:auto;
    padding:20px 35px;
}

.sign-up-container .column .header img{
    width:75px;
}

.sign-up-container .column .header h3{
    font-size:24px;
    font-weight:400;
    margin:0px;
    line-height: 32px;
    padding-top:20px;
}

.sign-up-container .column .header h3 span{
    font-size:14px;
}

.sign-up-form form{
    padding-top:24px;
    display:flex;
    flex-direction:column;
}

.sign-up-form form input[type='text'],
.sign-up-form form input[type='email'],
.sign-up-form form input[type='password']{
    border:none;
    border-bottom: 1px solid #dedede;
    margin: 10px 0;
    font-size:14px;
}
.sign-up-form form input[type='submit'] {
    background-color:#4285f4;
    color:#ffffff;
    boder:none;
    border-radius: 3px;
    height:36px;
    margin-top:10px;
    margin-bottom: 20px;
    width:88px;
}
.sign-in-message{
    font-size:14px;
    font-weight:400;
    color:#212529;
}

.error-msg{
    color:#ff0000;
    font-size:14px;
    font-weight:400;
}

/* watch.php*/
.watch-left-column{
    flex:1;
}

.watch-left-column .video-player{
    width:100%;
}

/*videoinfosection.php*/
.video-info{
    width: 100%;
    padding: 20px 0 8px 0;
}

.video-info h1{
    /*	The overflow is clipped, and the rest of the content will be invisible*/
    overflow: hidden;
    font-size: 18px;
    font-weight:400;
    line-height: 24px;
}

.bottom-section{
    display:flex;

}
.view-count{
    flex:1;
    font-size:16px;
    color:rgba(17,17,17,0.6)
}
.video-info .bottom-section .controls{
    flex:1;
    text-align: right;
}

.video-info .bottom-section .controls button {
    padding: 0;
    background-color: transparent;
    border: none;
    color: rgba(17,17,17,0.4);
    font-weight: 500;
    font-size: 13px;
    cursor:pointer;
}
.video-info .bottom-section .controls button img {
    height:20px;
    width:20px;
    margin: 4px 8px 8px 8px;
}
.suggestions{
    max-width:425px;
    height:100%;
    /*The flex-grow property specifies how much the item will grow relative to the rest of the flexible items inside the same container.*/
    flex-grow:1;
}

/*contact list*/

.contactPage{
    /*background-color: #efefee;*/
    height:90vh;
    width: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;


}
.contactPage_head{

    width:100%;
    max-height: 300px;
    flex:1;
    /*overflow-y:auto;*/
    padding:5px ;
    text-align:center;

}
.contactPage_head h1{

    background-color: #fcf8e3;
    border:1px solid #dedede ;
    border-radius: 3px;
    text-align:center;
}
.contactPage_head h1 a{
    text-decoration:none;
    color: black;
}

.contactPage_head #contactListError{
    color:red;
}
.contactList{
    width:100%;
    flex:5;
    text-align:center;
    /*padding:20px 35px;*/
}
.contactList .filter {
    padding:5px;
}

.contactList .filter  select{
    height:38px;
}
.contactList .viewtable{
    padding:5px;
    overflow-y:auto;
}
/*contact list*/

/*show all video- index.php*/
#main-video-container{
    display:flex;
    width:100%;

    flex-flow: column wrap;
    justify-content: center;
    align-items:center;
}

#main-video-container #welcomemessage{
    width:100%;
    max-height: 300px;
    flex:1;
    /*overflow-y:auto;*/
    padding:5px ;
    text-align:center;
}
/*#showAllVideo {*/
/*    width:100%;*/
/*    height:100vh;*/
/*    padding:5px;*/

/*}*/
#showAllVideo #categoryvideopage {
    margin:10px;
    display:flex;
    flex-flow: row wrap;
}
#showAllVideo #allvideopage{
    /*width:100%;*/
    /*height:70vh;*/
    margin:15px;
    display:flex;
    flex-flow: row wrap;

}
#showAllVideo #page-nav{
    /*width:100%;*/
    margin:20px auto;
    /*text-align:center*/

}

#showAllVideo #page-nav ul{
    display: flex;
    justify-content: center;
}

#showAllVideo  #allvideopage div{
    width:350px;
    height:300px;
}
#showAllVideo  #allvideopage div #videoTitle{
    /*ellipsis 過長的文字用...取代  https://www.w3schools.com/cssref/css3_pr_text-overflow.asp*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*show all video*/

/*channel.php*/
#channelPage{
    width:100%;
}

#channelPage .container{
    margin-right:0;
    margin-left:0;

}
@media (min-width: 1600px){
    .container {
        min-width: 1600px;
        margin-right:0;
    }
}
.container .tab-content>.active #show{
    display:flex;
    flex-flow: row wrap;

}
.container .tab-content>.active #show form  #delete {
    flex-basis: 100%;

}
.container .tab-content>.active #page-nav ul{
    display: flex;
    justify-content: center;
}

/*.container .tab-content>.active #page-nav{*/
/*text-align:center;*/
/*}*/
/*my subsciptions tab*/
#showSubscriptions .video{
    display:flex;
    flex-direction: row;
    /*flex-flow: row wrap;*/
}
#showSubscriptions p{
    margin: 10px 0px;
}
#showSubscriptions  .video div{
    width:200px;
    height:200px;
}
/*my playlist tab*/
.container .tab-content>.active #showMyPlayList{
    display:flex;
    flex-flow: row wrap;

}
.container .tab-content>.active #showMyPlayList div{
    margin: 10px 0px ;

}
.container .tab-content>.active #showMyPlayList p {
    flex-basis: 100%;

}
/*channel.php*/